# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [22]:
int1 = 32
int2 = 32
print(int1 == int2)
print(int1 is int2)

True
True

Числа в діаразоні від -5 до 256 python зберігає в однакових комірках пам'яті, це зроблено задля оптимізації, бо такі значення дуже часто використовуються для вказання віку або проходження по циклу. А команда "is" перевіряє чи об'єкт зліва це той самий об'єкт, що і справа, а через те, що ці два об'єкта знаходяться в комірці за одним і тим самим посиланням ми отримуємо True

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [21]:
a = 5
logic = True
print(isinstance(a, int))
print(isinstance(logic, bool))
print(isinstance(logic, int))

True
True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [23]:
int1 = 100
float2 = 53.47
sum1 = int1 + float2
sub1 = int1 - float2
div1 = int1 / float2
tim1 = int1 * float2
div_int1 = int1 // float2
div_mod1 = int1 % float2
sqr1 = int1 ** float2

print(f"{sum1 = }")
print(f"{sub1 = }")
print(f"{div1 = }")
print(f"{tim1 = }")
print(f"{div_int1 = }")
print(f"{div_mod1 = }")
print(f"{sqr1 = }")

sum1 = 153.47
sub1 = 46.53
div1 = 1.8702075930428277
tim1 = 5347.0
div_int1 = 1.0
div_mod1 = 46.53
sqr1 = 8.70963589956076e+106

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [25]:
int_from_float = int(float2)
float_from_int = float(int1)

print(f"{int_from_float = }")
print(f"{float_from_int = }")

bool1 = True
int_from_bool = int(bool1)

print(f"{bool1 = }")
print(f"{int_from_bool = }")

int_from_float = 53
float_from_int = 100.0
bool1 = True
int_from_bool = 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [30]:
empty_str1 = str()
empty_str2 = 0 * "Hello"
print(empty_str1)
print(empty_str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [32]:
str_with_apost = "I'm learning Python"
raw_str_with_apost = r"I'm learning Python"

print("Str:", str_with_apost)
print("Row str:", raw_str_with_apost)

Str: I'm learning Python
Row str: I'm learning Python

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [35]:
my_surname = "Morhun"
formated_str = f"My surname is {my_surname}"
print(formated_str)

My surname is Morhun

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [38]:
dog_str = "My dog is crazy."
my_list = dog_str.lower().strip(".").split()
print(my_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [45]:
my_list1 = list(dog_str)
my_list2 = [1, 2, 3] + [5]
print(my_list1)
print(my_list2)
print("Length of my_list1 = ", len(my_list1))

['M', 'y', ' ', 'd', 'o', 'g', ' ', 'i', 's', ' ', 'c', 'r', 'a', 'z', 'y', '.']
[1, 2, 3, 5]
Length of my_list1 =  16

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [47]:
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]
my_list1.append(my_list2)
print(my_list1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [49]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
first_element_of_last_list = list_of_lists[-1][0]

print(first_element_of_last_list)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [52]:
my_list3 = [True, 2.2, "3", 4, [4, 5], {6: "rr", 5: 3}, None, 'Hello!', 99, 10]
new_list = my_list3[2:-2]

print(new_list)

['3', 4, [4, 5], {6: 'rr', 5: 3}, None, 'Hello!']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [51]:
my_tuple = (1,)
print(my_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список і кортеж мають свої відмінності та схожості:
І список, і кортеж можуть містити в собі різноманітні елементи за типом, наявність індексації та можливість ітерування.

Відмінності:
Списки є змінним типом даних, а кортеж створюється один раз і більше його неможна змінити. Також кортежі швидші за списки.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [63]:
my_tuple2 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
new_tuple = my_tuple2[-2::-2]
print(new_tuple)

(9, 7, 5, 3, 1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [66]:
my_set = set()
my_set.add(5)
my_set.add("Hello world!")
print(my_set)

{'Hello world!', 5}

Так, множини є змінним типом даних, ми можемо додавати і видаляти елементи, але порядок елементів не гарантується, як в списках, до того ж в множинах елементи не можуть повторюватись

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [68]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}
в множинах елементи не можуть повторюватись!

В множинах елементи не можуть повторюватись, всі дублікати автоматично видаляються

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [72]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

union_result = set1.union(set2)
print("Union:", union_result)

difference_result = set1.difference(set2)
print("Difference:", difference_result)

intersection_result = set1.intersection(set2)
print("Intersection:", intersection_result)

symmetric_difference_result = set1.symmetric_difference(set2)
print("Symmetric_difference:", symmetric_difference_result)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Difference: {1, 2, 3}
Intersection: {4, 5, 6}
Symmetric_difference: {1, 2, 3, 7, 8, 9}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [73]:
my_dict = {}

my_dict[1] = "Integer"
my_dict["name"] = "Anton"
my_dict[(1, 2)] = "Tuple"
my_dict[53.47] = "Float"

print(my_dict)

{1: 'Integer', 'name': 'Anton', (1, 2): 'Tuple', 53.47: 'Float'}

Ключем словника можуть бути тільки немутабельні типи даних, які мають сталу адресу комірки пам'яті, де вони зберігаються і до яких можна застосовувати хеш-функції

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [76]:
my_dict = {"pi":3.14,"student":
                              {"age": 19,"name": "Anton","address":
                                                                  {"country": "Ukraine","city": "Kiev","street": "Shevchenko 5"}}}

inside_value = my_dict["student"]["address"]["street"]
print(inside_value)

Shevchenko 5

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.